@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #161853;
}

.content-container {
  background: #292c6d;
  border-radius: 10px;
  color: #faedf0;
  font-weight: 300;
}

.trek-name {
  font-weight: 900;
  color: #faedf0;
}
